<% content_for :title, "#{@store.name} - Commerce local | Local Heroes" %>

<div class="container mt-8 mx-auto " data-controller="cart">
  <div class="bg-[#FFFCF9] h-120 rounded-lg shadow-2xl mb-10 opacity-80">
    <div class="flex justify-center">
      <h1 class="text-5xl font-bold py-6"><%= @store.name %></h1>
    </div>
    <div class="flex flex-row">
      <%= image_tag("Image_Empty.webp", class: "rounded-lg shadow-2xl m-8", width: "300px") %>
      <div class="mx-auto text-xl flex flex-col justify-center w-[50%]">
        <p class="py-2 font-bold"> Qui sommes-nous ?</p>
        <p class="py-2 text-pretty"><%= @store.description %></p>
        <p class="py-2 font-bold"> Où sommes-nous ?</p>
        <p class="py-2"><i class="fa-solid fa-map-pin"></i> <%= @store.address %></p>
        <p class="py-2 font-bold"> Nous contacter ?</p>
        <p class="py-1"><i class="fa-solid fa-phone"></i> <%= @store.phone_number %></p>
      </div>
      <div class="flex justify-end content-end items-end">
        <p class="mr-7 py-3 bg-[#FFD9AC] w-45 h-15 rounded-xl text-center font-bold text-xl"><%= @store.category %> <i class="fa-solid fa-shop"></i></p>
      </div>
    </div>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <br>
  <%# button add évenement rajouter si le user commercant  %> <%# Modal evenement %>
  <div>
    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-bold py-10 text-shadow-2xs"> Nos évènements </h1>
      <% if @store.user == current_user %>
        <button class="btn btn-md md:btn-md px-6 bg-orange-300 text-orange-900 hover:bg-orange-500"
        onclick="document.getElementById('event_modal').showModal()">
        Ajouter évènement
        </button>
      <% end %>
    </div>

    <br>
    <div class="overflow-hidden rounded-xl">
      <div class="snap-x flex space-x-4 py-4 overflow-x-scroll">
        <% @store.events.each do |event| %>
          <div class="snap-center w-[80%]">
            <%= render "shared/event_card", event: event %>
          </div>
        <% end %>
      </div>
    </div>

  <div>
  <br>
    <div class="pb-8">
      <div class="flex justify-between items-center">
        <h1 class="text-2xl font-bold py-6 text-shadow-2xs">Nos produits</h1>
        <%# button add produit rajouter si le user commercant  %> <%# Modal produit %>
        <% if @store.user == current_user %>
          <button class="btn btn-md md:btn-md px-6 bg-orange-300 text-orange-900 hover:bg-orange-500"
          onclick="document.getElementById('product_modal').showModal()">
          Ajouter produit
        </button>
        <% end %>
      </div>

      <br>
      <div class="grid grid-cols-3 gap-4">
            <% @store.products.each do |product| %>
              <%= render "shared/product_card", product: product, order: @order %>
            <% end %>
        </div>
    </div>
  </div>
  <% if @store.user == current_user %>
    <div class="fixed top-1/2 -translate-y-1/2 right-0 w-80 transform translate-x-full transition-transform duration-300 z-50 hidden" data-cart-target="panel" >
      <button
        data-action="click->cart#showCart"
        class="absolute left-[-36px] top-1/2 -translate-y-1/2 bg-[#fff7ed] text-[#7c2808] font-bold px-3 py-1 rounded-l-full cursor-pointer">
        &lt;
      </button>
      <div data-cart-target="content">
        <%= render "shared/cart", order: @order%>
      </div>
    </div>
    <% else %>
      <div class="fixed top-1/2 -translate-y-1/2 right-0 w-80 transform translate-x-full transition-transform duration-300 z-50 " data-cart-target="panel" >
        <button
          data-action="click->cart#showCart"
          class="absolute left-[-36px] top-1/2 -translate-y-1/2 bg-[#fff7ed] text-[#7c2808] font-bold px-3 py-1 rounded-l-full cursor-pointer">
          &lt;
        </button>
        <div data-cart-target="content">
          <%= render "shared/cart", order: @order%>
        </div>
      </div>
  <% end %>
<%# Modal produit %>
  <dialog id="product_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg mb-4">Ajouter un produit</h3>
    <%= render "shared/form_new_edit", product: Product.new(store: @store), store: @store %>
    <div class="modal-action mt-4">
      <form method="dialog">
        <button class="btn">Fermer</button>
      </form>
    </div>
  </div>
</dialog>
<%# Modal évenement %>
  <dialog id="event_modal" class="modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg mb-4">Ajouter un évènement</h3>
      <%= render "shared/event_form", event: Event.new(store: @store), store: @store %>
      <div class="modal-action mt-4">
        <form method="dialog">
          <button class="btn">Fermer</button>
        </form>
      </div>
    </div>
  </dialog>
</div>
