<div class="card card-side bg-[#FFFCF9] shadow-sm h-[200px] border-1 border-[#FFD9AC] truncate">
  <div class="content flex flex-row">
  <figure class="p-2">
    <%= image_tag("photo-test.jpg", class:"p-[8px] rounded-3xl w-70 ") %>
  </figure>
  <div class="card-body">
    <h2 class="card-title"><%= link_to event.title, event_path(event), event: event, class: "hover:text-blue-800 ease-in-out duration-300" %></h2>
    <p class="bg-[#FFD9AC] w-35 h-18 rounded-xl flex justify-center"><%= event.start_date.strftime("%d") %> - <%= event.end_date.strftime("%d - %m-%Y") %></p>
    <p><%= event.description %></p>
    <h3 class="font-semibold">Magasins Participants:</h3>
    <ul class=" grid grid-cols-2 place-content-center">
      <li><%= link_to event.store.name, store_path(event.store), class: "bg-[#FFD9AC] w-65 h-50 rounded-xl hover:text-blue-800 ease-in-out duration-300" %></li>
      <% event.event_partners.last(2).each do |partner| %>
        <li><%= link_to partner.store.name, store_path(partner.store), class: "hover:text-blue-800 ease-in-out duration-300" %></li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
