<div class="flex border border-[#FFD9AC] bg-white w-xl rounded-3xl">
  <figure class="grow p-[16px]">
        <%= image_tag("photo-test.jpg", class:" rounded-3xl w-[300px] h-[200px]") %>
  </figure>
  <div class="truncate overflow-hidden pr-6 w-[30rem] py-2">
    <h2 class="card-title text-wrap text-2xl font-bold py-2"><%= link_to event.title, event_path(event), event: event %></h2>
    <p class="bg-[#FFD9AC] w-30 rounded-xl flex justify-center"><%= event.start_date.strftime("%d/%m") %> - <%= event.end_date.strftime("%d/%m") %></p>

    <p class="py-2 truncate"><%= event.description %></p>
    <%= link_to "voir plus...", event_path(event), class:"btn btn-ghost p-1 hover:bg-[#FFBA69] " %>

    <h3 class="py-1 font-semibold">Magasin(s) Participant(s):</h3>
    <div>
      <ul class="flex flex-wrap gap-3 items-center">
      <li class="bg-[#FFD9AC] w-50 flex justify-center rounded-xl"><%= event.event_partners.count %> Magasin(s) Partenaire(s)</li>
      <i class="fa-solid fa-user"> <%= event.event_participants.count %></i>
    </ul>
    </div>


  </div>
</div>   
