  <div class="card card-side bg-base-100 shadow-sm h-[200px] border-1">
    <figure class="p-2">
      <%= image_tag("pexels-marcin-dampc-807808-1684187.jpg", class:"w-40 rounded-[calc(var(--radius-box)-.3rem)]") %>
    </figure>
    <div class="card-body truncate">
      <h2 class="card-title"><%= link_to event.title, event_path(event), class: "hover:text-green-800 transition-colors duration-300 ease-in-out" %></h2>
      <p><%= event.description %></p>
      <h3 class="flex items-center justify-between">
        <p class="font-semibold">Début : <%= event.start_date %></p>
        <p class="font-semibold">Fin : <%= event.end_date %></p>
      </h3>
      <h3 class="font-semibold">Magasins participants:</h3>
      <ul class="columns-3 gap-4">
        <li><%= link_to event.store.name, store_path(event.store), class: "hover:text-green-800 transition-colors duration-300 ease-in-out" %></li>
        <% event.event_partners.each do |partner| %>
          <li><%= link_to partner.store.name, store_path(partner.store), class: "hover:text-green-800 transition-colors duration-300 ease-in-out" %></li>
        <% end %>
      </ul>
    </div>
  </div>
