
<div class="container flex justify-center items-center px-4">
  <div class="card shadow-sm bg-[#fff7ed] card-border border-[#ffead0] w-full max-w-6xl text-[#7c2808] p-6 rounded-2xl">

    <h1 class="text-2xl font-semibold text-center mb-8"><%= "Ajouter un produit" %></h1>

    <%= simple_form_for([store, product], html: { class: "space-y-6" }) do |f| %>

      <div class="grid grid-cols-2">
        <div class="space-y-3">
          <%= f.input :name,
              input_html: { class: "w-full p-2 border border-[#ffead0] rounded focus:outline-none focus:ring-2 focus:ring-[#7c2808] bg-white text-[#7c2808]" },
              label_html: { class: "block font-semibold mb-1 text-[#7c2808]" } %>
          <%= f.input :price,
              input_html: { class: "w-full p-2 border border-[#ffead0] rounded focus:outline-none focus:ring-2 focus:ring-[#7c2808] bg-white text-[#7c2808]" },
              label_html: { class: "block font-semibold mb-1 text-[#7c2808]" } %>
          <%= f.input :category,
              input_html: { class: "w-full p-2 border border-[#ffead0] rounded focus:outline-none focus:ring-2 focus:ring-[#7c2808] bg-white text-[#7c2808]" },
              label_html: { class: "block font-semibold mb-1 text-[#7c2808]" } %>
        </div>

        <div class="space-y-3">
          <%= f.input :stock,
              input_html: { class: "w-full p-2 border border-[#ffead0] rounded focus:outline-none focus:ring-2 focus:ring-[#7c2808] bg-white text-[#7c2808]" },
              label_html: { class: "block font-semibold mb-1 text-[#7c2808]" } %>
          <%= f.input :discount,
              input_html: { class: "w-full p-2 border border-[#ffead0] rounded focus:outline-none focus:ring-2 focus:ring-[#7c2808] bg-white text-[#7c2808]" },
              label_html: { class: "block font-semibold mb-1 text-[#7c2808]" } %>
          <%= f.input :photos, as: :file,
              input_html: { class: "w-full p-2 border border-[#ffead0] rounded bg-white focus:outline-none focus:ring-2 focus:ring-[#7c2808]", multiple: true },
              label_html: { class: "block font-semibold mb-1 text-[#7c2808]" } %>
        </div>
      </div>

      <div class="grid grid-cols-2" >
        <%= f.association :events,
              collection: store.events,
              label: "Événement associé",
              label_html: { class: "block font-semibold mb-1 text-[#7c2808]" },
              input_html: { class: "w-full p-2 border border-[#ffead0] rounded bg-white focus:outline-none focus:ring-2 focus:ring-[#7c2808]" } %>

        <%= f.input :description, as: :text,
            input_html: { class: "w-full h-32 p-2 border border-[#ffead0] rounded resize-none focus:outline-none focus:ring-2 focus:ring-[#7c2808] bg-white text-[#7c2808]" },
            label_html: { class: "block font-semibold mb-1 text-[#7c2808]" } %>

        <%= f.button :submit, "Enregistrer",
              class: "bg-[#7c2808] hover:bg-[#ffead0] hover:text-[#7c2808] text-white font-semibold py-2 px-6 rounded-lg shadow-sm transition-colors duration-300" %>

      </div>

  </div>
    <% end %>
  </div>
</div>
