<div class="relative z-10">
  <nav class="navbar text-neutral-content bg-base-100 fixed top-0 right-0 left-0">
    <div class="container mx-auto flex items-center justify-between">
      <%= link_to root_path do %>
        <%= image_tag "Logo_Local_Heroes.svg", class: "h-20" %>
      <% end %>


      <!-- Mobile menu button -->
      <button class="md:hidden text-gray-500 focus:outline-none" onclick="document.getElementById('navbar-menu').classList.toggle('hidden')">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>

      <!-- Menu -->
      <div id="navbar-menu" class="hidden md:flex md:items-center w-full md:w-auto mt-2 md:mt-0">
        <ul class="flex flex-col md:flex-row md:space-x-4 w-full font-bold text-xl md:w-auto">
          <% if user_signed_in? %>
            <div class="block px-4 py-2 text-gray-700 hover:text-green-600">
              <%= link_to "Ma boutique", store_path(current_user.store), class: "block px-4 py-2 text-orange-900 hover:text-orange-400" %>
            </div>
            <div class="user flex flex-col text-center">
              <li class="block px-4 py-2  text-orange-600 "><%= link_to "La Vitrine de", dashboard_path, class: "block px-4 py-2 bold text-orange-900 hover:text-orange-400" %><%=@user.first_name if @user%></li>
            </div>
            <div class="w-20 relative">
              <%= image_tag "Simon.png", alt: "simon", class:"rounded-full cursor-pointer", onclick: "document.getElementById('logout-menu').classList.toggle('hidden')" %>
              <div id="logout-menu" class="absolute right 1 w-20 bg-orange-200 rounded-2xl shadow-lg hidden z-40 flex justify-center ">
                <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-sm px-2 py-2 text-orange-900 hover:text-orange-400 text-center" %>
              </div>
            </div>
          <% else %>
            <li>
              <%= link_to "Login", new_user_session_path, class: "block px-4 py-2 text-gray-700 hover:text-blue-600" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="h-[100px] z-9"></div>

