<div class="card bg-[#fff7ed] shadow-sm flex flex-col card-border border-[#ffead0] card-sm w-100 text-[#7c2808] p-3">
  <figure>
    <div class="relative inline-block">
        <%# <%= image_tag("shoes_1.jpg", size: "100x50", alt: "Edit Entry")%>
          <%# <%=image_tag("shoes_1.jpg", height: '100', width: '32')%>
          <%= image_tag("shoes_1.jpg",style: "max-width: 350px;", alt: "Edit Entry", class: "rounded-[10px] shadow-md") %>
          <%# <img src="images/shoes_1.jpg" alt="Image produit" class="rounded-md w-full max-w-xs"> %>
    </div>
  </figure>

  <div class="card-body">
    <h2 class="card-title truncate"><%= product.name %></h2>
    <p><%= product.category.capitalize %></p>
    <p><%= product.store.user.first_name %> <%= product.store.user.last_name %></p>
    <p><%= product.price %>€</p>
      <div class="end flex justify-end">
        <%= link_to store_path(product.store) do %>
          <p class="btn btn-sm btn-[#370a00] text-[#370a00] flex justify-center">Panier</p>
        <% end %>
      </div>
  </div>
</div>
