<div class="max-h-[520px] card bg-[#FFFCF9] shadow-sm flex flex-col card-border border-[#FFD9AC] card-sm w-70 text-[#7c2808] p-3">
  <figure>
    <div class="relative inline-block">
      <% if product.photo.attached? %>
      <%= cl_image_tag product.photo.key, class: "rounded-2xl p-[8px]", alt: product.name %>
      <% else %>
      <img class="rounded-2xl p-[8px]" src="https://res.cloudinary.com/dmt3jxemt/image/upload/v1749673366/produits-locaux_-_Edited_fo3vlz.jpg" alt="<%= product.name %>" />
      <% end %>
    </div>
  </figure>

  <div class="card-body w-full">
    <h2 class="card-title truncate text-xl mx-auto"><%= product.name %></h2>
    <p class="bg-[#FFD9AC] rounded-xl max-w-fit px-4 py-2" style="max-height:fit-content;"><%= product.category.capitalize %></p>
    <p class="line-clamp-3 text-sm text-center"><%= product.description %></p>
    <% if product.price == product.exact_price %>
      <p class="card-title truncate font-bold text-2xl mx-auto"><%= formatted_price(product.price) %>€</p>
    <% else %>
      <div class="mt-4 text-center scale-125">
        <span class="top-2 right-2 badge badge-sm badge-success px-2 py-1">
          PROMO
        </span>
        <div class="text-3xl font-bold text-red-500"><%= formatted_price(product.price) %>€</div>
        <div class="text-sm line-through text-gray-700"><%= formatted_price(product.exact_price) %>€</div>
      </div>
      <br>
    <% end %>

    <div class="">
      <%# button add rajouter si le user commercant  %>
      <div class="flex ">
        <% if product.store.user == current_user %>
          <%= link_to "Edit", edit_store_product_path(product.store, product), class: "btn btn-block w-1/2 bg-[#39a20b] text-[#ffd30f] mr-1" %>
          <button class="btn btn-block w-1/2 bg-[#852226] text-[#ffd30f]  ml-1">Delete</button>
          <button class="btn btn-sm bg-[#FFBA69] text-[#7C2807] flex justify-center hidden"
          data-action="click->cart#showCart click->cart#addItem"
          data-cart-url="<%= store_orders_path(product.store) %>"
          data-product-id="<%= product.id %>">Panier</button>
      </div>
        <% else %>
          <div id="btn-<%= product.id %>" class="w-full">
            <%= render "shared/add_to_cart", product: product %>
          </div>
      </div>
        <div id="menu-<%= product.id %>" class="hidden">

        </div>
    <% end %>
    </div>
  </div>
</div>
