<div class="card bg-[#FFFCF9] shadow-sm flex flex-col card-border border-[#FFD9AC] card-sm w-70 text-[#7c2808] p-3">
  <figure>
    <div class="relative inline-block">
      <% if product.photo.attached? %>
      <%= image_tag product.photo, class: "rounded-2xl p-[8px]", alt: product.name %>
      <% else %>
      <img class="rounded-2xl p-[8px]" src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="<%= product.name %>" />
      <% end %>
    </div>
  </figure>

  <div class="card-body">
    <h2 class="card-title truncate text-xl"><%= product.name %></h2>
    <p class="bg-[#FFD9AC] w-20 h-5 rounded-xl flex justify-center"><%= product.category.capitalize %></p>
    <p class="text-sm"><%= product.description %></p>
    <% if product.price == product.exact_price %>
      <p class="text-2xl font-bold text-green-500"><%= formatted_price(product.price) %>€</p>
    <% else %>
      <div class="mt-4 text-center scale-125">
        <span class="top-2 right-2 badge badge-xs badge-success px-2 py-1">
          PROMO
        </span>
        <div class="text-2xl font-bold text-red-500"><%= formatted_price(product.price) %>€</div>
        <div class="text-sm line-through text-gray-400"><%= formatted_price(product.exact_price) %>€</div>
      </div>
      <br>
    <% end %>

    <div class="end flex justify-end">
      <%# button add rajouter si le user commercant  %>
      <div class="end flex justify-end space-x-30">
        <% if product.store.user == current_user %>
          <%= link_to "Edit", edit_store_product_path(product.store, product), class: "btn btn-sm bg-[#FFBA69] text-[#7C2807]" %>
          <button class="btn btn-sm bg-[#FFBA69] text-[#7C2807] flex justify-center hidden"
          data-action="click->cart#showCart click->cart#addItem"
          data-cart-url="<%= store_orders_path(product.store) %>"
          data-product-id="<%= product.id %>">Panier</button>
      </div>
        <% else %>
          <div id="btn-<%= product.id %>">
            <%= render "shared/add_to_cart", product: product %>
          </div>
      </div>
        <div id="menu-<%= product.id %>" class="hidden">

        </div>
    <% end %>
    </div>
  </div>
</div>
