<div class="flex items-center justify-center gap-2 mt-4">
  <button
    type="button"
    class="btn btn-sm btn-circle bg-[#FFBA69] text-[#7C2807] hover:bg-orange-400"
    data-action="click->cart#decreaseQuantity"
    data-item-id="<%= item.id %>"
    data-item-quantity="<%= item.quantity %>"
    data-order-id="<%= item.order.id %>"
    data-product-id="<%= item.product.id %>">
    -
  </button>
  <span class="text-lg font-semibold w-8 text-center">
    <%= item.quantity %>
  </span>
  <button
    type="button"
    class="btn btn-sm btn-circle bg-[#FFBA69] text-[#7C2807] hover:bg-orange-400"
    data-action="click->cart#increaseQuantity"
    data-item-id="<%= item.id %>"
    data-item-quantity="<%= item.quantity%>"
    data-order-id="<%= item.order.id %>"
    data-product-id="<%= item.product.id%>">
    +
  </button>
</div>
