
<div class="card bg-base-100 shadow-sm flex flex-col card-border border-[#FFD9AC] card-sm w-100 text-[#7c2808] p-3">

  <figure>
    <div class="">
  <% if store.photo.attached? %>
    <%= image_tag store.photo, class: "rounded-xl w-[100%] h-[80%] p-1", alt: store.name %>
    <% else %>
    <img class="rounded-xl w-[100%] h-[80%] p-1" src="https://res.cloudinary.com/dmt3jxemt/image/upload/v1749543990/boucherie3_ftpxfb.jpg" alt="<%= store.name %>" />
    <% end %>
    </div>
  </figure>
  <div class="card-body">
    <h2 class="card-title truncate"><%= store.name %></h2>
    <p><%= store.category.capitalize %></p>
    <p><%= store.user.first_name %> <%= store.user.last_name %></p>
      <div class="end flex justify-end">
        <%= link_to store_path(store) do %>
          <p class="btn btn-sm btn-[#370a00] text-[#370a00]">Voir plus</p>
        <% end %>
      </div>
  </div>
</div>
