<div>
  <div class="card bg-[#fff7ed] hover:bg-[#ffd6a7] card-border border-[#ffead0] hover:border-[#7c2808] card-sm text-[#7c2808] p-3">
    <figure class="p-2">
      <div class="relative inline-block">
        <%= image_tag("store_img.webp", class:"rounded-[calc(var(--radius-box)-.3rem)]") %>
        <span class="absolute top-2 right-2 badge badge-success px-2 py-1">
        PROMO
      </span>
      </div>
      </figure>
      <div class="card-body gap-4">
        <h2 class="text-2xl font-semibold"><%= store.name %></h2>
        <p class="font-semibold"><%= store.category %></p>
        <p><%= store.description %></p>
          <%= link_to store_path(store) do %>
            <p class="btn btn-sm btn-[#370a00] text-[#370a00] ">Voir plus</p>
          <% end %>
      </div>
    </div>
</div>
