
<div class="card bg-base-100 shadow-sm flex flex-col card-border border-[#FFD9AC] card-sm w-[100%] text-[#7c2808] p-3 hover:bg-base-200 duration-4gco 00 ease-in-out">


  <figure>
    <div class="">
  <% if store.photo.attached? %>
    <%= image_tag store.photo, class: "rounded-xl w-[100%] h-[80%] p-1", alt: store.name %>
    <% else %>
    <img class="rounded-xl w-[100%] h-[80%] p-1" src="https://res.cloudinary.com/dmt3jxemt/image/upload/v1749543990/boucherie3_ftpxfb.jpg" alt="<%= store.name %>" />
    <% end %>
    </div>
  </figure>
  <div class="card-body">
    <p class="<%= store.category.downcase %> max-w-fit py-2 px-6 rounded-xl text-center text-sm" style="max-height:fit-content;"><%= store.category.capitalize %></p>
    <h2 class="card-title text-3xl font-bold"><%= store.name %></h2>
    <p class="text-xl"><i class="fa-solid fa-user px-2"></i> <%= store.user.first_name %> <%= store.user.last_name %></p>
      <div class="p-4">
        <%= link_to store_path(store) do %>
          <p class="btn btn-sm btn-[#370a00] text-[#370a00] w-full h-[200%] bg-orange-300 text-orange-900 hover hover:bg-orange-400">Voir plus</p>
        <% end %>
      </div>
  </div>
</div>
