<div class="container flex justify-center items-center min-h-screen px-4">
  <div class="card shadow-sm bg-[#fff7ed]  card-border border-[#ffead0] card-sm w-full max-w-lg text-[#7c2808] p-6">

    <h2 class="text-2xl font-semibold mb-4"><%= @event.new_record? ? "Créer un événement" : "Modifier l'événement" %></h2>

    <%= form_with model: @event, local: true do |form| %>
      <div class="mb-4">
        <%= form.label :title, "Titre", class: "block font-semibold mb-1" %>
        <%= form.text_field :title, class: "w-full p-2 border border-[#ffead0] rounded focus:outline-none focus:ring-2 focus:ring-[#7c2808]" %>
      </div>

      <div class="mb-4">
        <%= form.label :description, "Description", class: "block font-semibold mb-1" %>
        <%= form.text_area :description, rows: 4, class: "w-full p-2 border border-[#ffead0] rounded focus:outline-none focus:ring-2 focus:ring-[#7c2808]" %>
      </div>

      <div class="mb-4">
        <%= form.label :start_date, "Date de début", class: "block font-semibold mb-1" %>
        <%= form.date_field :start_date, class: "w-full p-2 border border-[#ffead0] rounded focus:outline-none focus:ring-2 focus:ring-[#7c2808]" %>
      </div>

      <div class="mb-4">
        <%= form.label :end_date, "Date de fin", class: "block font-semibold mb-1" %>
        <%= form.date_field :end_date, class: "w-full p-2 border border-[#ffead0] rounded focus:outline-none focus:ring-2 focus:ring-[#7c2808]" %>
      </div>

      <div>
        <%= form.submit (@event.new_record? ? "Créer" : "Mettre à jour"), class: "btn btn-sm bg-[#7c2808] text-white hover:bg-[#ffead0] hover:text-[#7c2808]" %>
      </div>
    <% end %>

  </div>
</div>
