<% content_for :title, "#{@event.title} - Evénement local | Local Heroes" %>

<div class="container  mx-auto" data-controller="favorite">
<div class="border border-base-100 p-7 rounded-xl shadow-lg">
  <div class="flex justify-center">
    <h1 class="text-5xl font-bold py-3"><%= @event.title %></h1>
  </div>
  <div class="flex justify-around my-5">
    <p class="py-3 font-bold text-3xl">Organisateur : <%= @event.store.name %></p>
    <%= render "shared/participate_button", event: @event %>
  </div>
  <div class="flex flex-row justify-around mx-5 items-center ">
    <%= image_tag("pexels-marcin-dampc-807808-1684187.jpg", class: " object-cover p-3",  width: "50%", height:"50%") %>
    <div class="mx-auto w-[600px]">
      <p class="py-5 text-2xl"><%= @event.description %></p>
      <div class="flex flex-row">
        <div class="1 mx-auto">
          <p class="py-3 font-bold text-2xl"> Où sommes-nous ?</p>
          <p class="py-3 text-2xl"><i class="fa-solid fa-map-pin"></i> <%= @event.store.address %></p>
          <p class="py-3 font-bold text-2xl"> Nous contacter ?</p>
          <p class="py-1 text-2xl"><i class="fa-solid fa-phone"></i> <%= @event.store.phone_number %></p>
        </div>
        <div class="rounded xl border border-base-100" style="width: 50%; height: 250px;"
          data-controller="map"
          data-map-markers-value="<%= @marker.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
  <br>
  <div class="content">
    <div class="lists-container flex flex-col jutify-center px-40 pt-10" data-controller="toggle-list">
      <div class="join join-vertical lg:join-horizontal mb-4 flex justify-center font-semibold">
        <button class="btn join-item toggle-active" data-toggle-list-target="storesBtn" data-action="click->toggle-list#displayStores">
          Liste des magasins participants
        </button>
        <button class="btn join-item" data-toggle-list-target="productsBtn" data-action="click->toggle-list#displayProducts">
          Liste des produits en promotion
        </button>
      </div>

      <div class="relative w-full overflow-hidden mb-10">
        <div class="flex transition-transform duration-500 ease-in-out w-[200%] flex justiry-center" data-toggle-list-target="listsInner">
          <div class="w-full grid grid-cols-4 gap-6 p-4" data-toggle-list-target="storesList">
            <%= render "shared/store_card", store: @event.store %>
            <% @event.stores.each do |store| %>
              <%= render "shared/store_card", store: store %>
            <% end %>
          </div>
          <div class="w-full grid grid-cols-4 gap-6 p-4" data-toggle-list-target="productsList">

            <% @event.event_products.each do |product| %>
              <%= render "shared/product_card", product: product.product %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.toggle-active {
  background-color: #7c2808 ;
  color: #feecd3
}
</style>
