<div class="container p-15 text-[#7c2808]">
  <h1 class="text-center text-6xl pb-10 text-[#5b1a00]"><%= @event.title %></h1>
  <div class="grid grid-flow-row-dense grid-cols-3 grid-rows-3 justify-evenly relative">
    <div class="store w-150 h-150 col-span-2 sticky top-10">
      <figure class="p-3">
        <%= image_tag("pexels-marcin-dampc-807808-1684187.jpg", class:"rounded-[calc(var(--radius-box)-.3rem)]") %>
      </figure>
      <p class="p-5">Description de l'évènement : <br> <br>
        <%= @event.description %></p>
      <p class="font-semibold p-10">Organisateur : <%= @event.store.name %></p>
    </div>
    <div class="lists-container flex flex-col w-100 justify-center" data-controller="toggle-list">
      <div class="join join-vertical lg:join-horizontal w-100 mx-6">
        <button class="btn join-item w-50 h-20 toggle-active" data-toggle-list-target="storesBtn" data-action="click->toggle-list#displayStores">Liste des magasins participants</button>
        <button class="btn join-item w-50 h-20" data-toggle-list-target="productsBtn" data-action="click->toggle-list#displayProducts">Liste des produits en promotions</button>
      </div>
    <div class="partners" data-toggle-list-target="storesList">
      <div class="slides flex flex-col justify-between p-3 underline">
        <%= render "shared/event_card" %>
        <%= render "shared/event_card" %>
        <%= render "shared/event_card" %>
        <%= render "shared/event_card" %>
      </div>
    </div>
    <div class="products" data-toggle-list-target="productsList">
      <div class="slides flex flex-col justify-between p-3 underline">
        <%= render "shared/event_card" %>
        <%= render "shared/event_card" %>
        <%= render "shared/event_card" %>
        <%= render "shared/event_card" %>
      </div>
    </div>
  </div>
</div>
