<div class="container mx-auto">
  <div class=" ">
    <div class="flex flex-row justify-around mx-5 items-center">
      <%= image_tag("pexels-marcin-dampc-807808-1684187.jpg", class: " object-cover",  width: "50%", height:"50vh") %>
      <div class="mx-auto">
        <h1 class="text-5xl font-bold py-3"><%= @event.title %></h1>
        <p class="py-2 font-bold"><%= @event.store.name %></p>
        <p class="py-4"><%= @event.description %></p>
        <p class="py-2 font-bold"> Où sommes-nous ?</p>
        <p class="py-2">2 avenue des saules 59160 Lille</p>
        <p class="py-2 font-bold"> Nous contacter ?</p>
        <p class="py-1"><%= @event.store.phone_number %></p>
        <p>france-admissions@lewagon.org.</p>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="lists-container flex flex-col jutify-center px-40 pt-10" data-controller="toggle-list">
      <div class="join join-vertical lg:join-horizontal mb-4 flex justify-center font-semibold">
        <button class="btn join-item toggle-active" data-toggle-list-target="storesBtn" data-action="click->toggle-list#displayStores">
          Liste des magasins participants
        </button>
        <button class="btn join-item" data-toggle-list-target="productsBtn" data-action="click->toggle-list#displayProducts">
          Liste des produits en promotion
        </button>
      </div>

      <div class="relative w-full overflow-hidden mb-10">
        <div class="flex transition-transform duration-500 ease-in-out w-[200%] flex justiry-center" data-toggle-list-target="listsInner">
          <div class="w-full grid grid-cols-4 gap-6 p-4" data-toggle-list-target="storesList">
            <%= render "shared/store_card_event_show", store: @event.store %>
            <% @event.event_partners.each do |partner| %>
              <%= render "shared/store_card_event_show", store: partner.store %>
            <% end %>
          </div>
          <div class="w-full grid grid-cols-4 gap-6 p-4" data-toggle-list-target="productsList">
            <% @event.event_products.each do |product| %>
              <%= render "shared/product_card", product: product.product %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
