<h1>Coucou</h1>

<% @orders.each do |order| %>
  <h2>Order ID: <%= order.id %></h2>
  <p> <%= order.status_store %></p>
  <p> <%= order.status_customer %></p>
   <p> <%= order.user.first_name %></p>
     <h2> <% order.items.each do |item|%>
        <%=item.product.name %></h2>
        <% end %>

  <%end%>

 <body>
    <div class="box">
      <div class="order-confirmation">
        <div class="overlap-group">
          <div class="menu">
            <div class="menu-header">
              <div class="heading">29/01/2027</div>
              <div class="text-wrapper">Réservation N°2</div>
            </div>
            <div class="menu-separator"><div class="rule"></div></div>
            <div class="menu-section">
              <div class="menu-item">
                <div class="body">
                  <div class="row">
                    <div class="label">Produit 1</div>
                    <div class="menu-shortcut"><div class="a">200€</div></div>
                  </div>
                  <div class="description">Qté</div>
                </div>
              </div>
              <div class="div">
                <div class="body">
                  <div class="row">
                    <div class="label">Produit 2</div>
                    <div class="menu-shortcut"><div class="a">250€</div></div>
                  </div>
                  <div class="description">Qté</div>
                </div>
              </div>
              <div class="div">
                <div class="body">
                  <div class="row">
                    <div class="label">Produit 3</div>
                    <div class="menu-shortcut"><div class="a">400€</div></div>
                  </div>
                  <div class="description">Qté</div>
                </div>
              </div>
            </div>
            <div class="rule-wrapper"><div class="rule"></div></div>
          </div>
          <div class="badge"><div class="badge-2">Annulation</div></div>
          <div class="badge-wrapper"><div class="badge-2">Confirmation</div></div>
          <div class="label-2">Total</div>
          <div class="a-wrapper"><div class="a-2">850€</div></div>
        </div>
      </div>
    </div>
  </body>
