<% content_for :title, "Gérez facilement le profil de votre commerce et de vos événéments | Local Heroes" %>

<div class="card bg-base-300 rounded-box grid h-10 place-items-center mb-10 mt-10 text-3xl font-bold tracking-wide text-shadow-md"><strong>Mes commandes</strong></div>
<div class="flex flex-wrap justify-center gap-4 m-2 overflow-x-auto">
  <div class="stats shadow w-full">
    <div class="stat bg-white">
      <div class="stat-figure text-secondary">
      <i class="fa-solid fa-circle-question text-[#F3B916] text-3xl"></i>

      </div>
      <div class="stat-title text-xl"><%= pluralize(@orders_pending_count, "commande à valider") %></div>
      <div class="stat-value"><%=@orders_pending_count%></div>
    <div class="stat-desc text-xl"><%= link_to "Afficher", orders_path(onglet: "a_valider"), class: "link" %></div>
    </div>


    <div class="stat bg-white">
      <div class="stat-figure text-secondary">
        <i class="fa-solid fa-circle-check text-[#116850] text-3xl"></i>

      </div>
      <div class="stat-title text-xl text-color-success">
        <% count = @orders_accepted_count %>
        <% if count == 0 %>
          0 Commande Validée
        <% else %>
          <%= pluralize(count, "Commande Validée", "Commandes Validées") %>
        <% end %>
      </div>
      <div class="stat-value text-color-success"><%=@orders_accepted_count%></div>
      <div class="stat-desc text-xl text-color-success"><%= link_to "Afficher", orders_path(onglet: "encours"), class: "link" %></div>
    </div>

    <div class="stat bg-white">

      <div class="stat-figure text-secondary">
        <i class="fa-solid fa-circle-xmark text-[#852226] text-3xl"></i>

      </div>
      <div class="stat-title text-xl text-color-accent">
      <% count = @orders_refused_count %>
        <% if count == 0 %>
          0 Commande Refusée
        <% else %>
          <%= pluralize(count, "Commande Refusée", "Commandes Refusées") %>
        <% end %>
      </div>
      <div class="stat-value text-color-accent"><%=@orders_refused_count%></div>
      <div class="stat-desc text-xl"><%= link_to "Afficher", orders_path(onglet: "refusées"), class: "link" %></div>
    </div>
    <div class="stat bg-white">
    <div class="stat-title text-xl">Pourcentage confirmation</div>
    <% if @orders_accepted_count > 0 || @orders_pending_count > 0 %>
    <div class="radial-progress text-primary mx-auto" style="--value:<%=@confirmation_rate.ceil%>;" aria-valuenow="40" role="progressbar"><%=@confirmation_rate.ceil%>%
    </div>
    <% end %>
    </div>
  </div>


</div>
<div class="card bg-base-300 rounded-box grid h-10 place-items-center mb-10 mt-10 text-3xl font-bold tracking-wide text-shadow-md"><strong>Mes événements</strong></div>
<div class="flex flex-wrap justify-center gap-4 m-10 p-9 mx-auto">
  <% @my_events.each do |event| %>
    <%= render "shared/event_card", event: event %>
  <% end %>
</div>
<div class="card bg-base-300 rounded-box grid h-10 place-items-center mb-10 text-3xl font-bold tracking-wide text-shadow-md"><strong>Mes produits</strong></div>
<div class="flex flex-wrap justify-center gap-4 m-10 p-9 mx-auto">
  <% @my_products.each do |product| %>
    <%= render "shared/product_card", product: product%>
  <% end %>
</div>
