<h1>Bonjour <%=@user.first_name%>, voici les actualités</h1>

<div class="card bg-base-300 rounded-box grid h-10 place-items-center bm-2"><strong>Réservations</strong></div>
<div class="flex flex-wrap justify-center gap-4 m-2 overflow-x-auto">
  <div class="stats shadow w-full">
    <div class="stat bg-white">
      <div class="stat-figure text-secondary">
      <i class="fa-solid fa-circle-question text-3xl"></i>
      </div>
      <div class="stat-title text-xl">A valider</div>
      <div class="stat-value"><%=@orders_pending_count%></div>
    <div class="stat-desc text-xl"><%= link_to "Détail", orders_path(onglet: "a_valider"), class: "link" %></div>
    </div>

    <div class="stat bg-white">
      <div class="stat-figure text-secondary">
        <i class="fa-solid fa-circle-check text-3xl"></i>
      </div>
      <div class="stat-title text-xl">En cours</div>
      <div class="stat-value"><%=@orders_accepted_count%></div>
      <div class="stat-desc text-xl"><%= link_to "Détail", orders_path(onglet: "encours"), class: "link" %></div>
    </div>

    <div class="stat bg-white">
      <div class="stat-figure text-secondary">
        <i class="fa-solid fa-circle-xmark text-3xl"></i>
      </div>
      <div class="stat-title text-xl">Refusées</div>
      <div class="stat-value"><%=@orders_refused_count%></div>
      <div class="stat-desc text-xl"><%= link_to "Détail", orders_path(onglet: "refusées"), class: "link" %></div>
    </div>
    <div class="stat bg-white">
    <div class="stat-title text-xl">Réservations complètes</div>
    <div class="radial-progress text-primary mx-auto" style="--value:<%=@confirmation_rate.ceil%>;" aria-valuenow="40" role="progressbar"><%=@confirmation_rate.ceil%>%
    </div>
    </div>
  </div>


</div>
<div class="card bg-base-300 rounded-box grid h-10 place-items-center bm-2"><strong>Mes événements</strong></div>
<div class="grid grid-cols-2 gap-8 m-10 p-9">
  <% @my_events.each do |event| %>
    <%= render "shared/event_card", event: event %>
  <% end %>
</div>
<div class="card bg-base-300 rounded-box grid h-10 place-items-center bm-2"><strong>Mes produits</strong></div>
<div class="grid grid-cols-2 gap-8 m-10 p-9">
  <% @my_products.each do |product| %>
    <%= render "shared/product_card", product: product%>
  <% end %>
</div>
