<% content_for :title, "Bienvenue sur Local Heroes ! | Local Heroes" %>

<div
  class="hero m-auto h-[600px] bg-cover bg-center mb-10 shadow-lg"
  style="background-image: url(<%= asset_path 'banniere_local_hero.jpg' %>);">
  <div class=""></div>
  <div class="hero-content">
    <div class="">
      <%= render "shared/searchbar" %>
    </div>
  </div>
</div>



<div>
  <h2 class="text-center m-auto size-fit p-3 text-3xl font-bold">Evénements en cours!</h2>
  <br>
  <hr>
</div>

<div class="flex flex-wrap justify-between gap-4 m-10 p-9">
  <% Event.last(6).each do |event| %>
    <%= render "shared/event_card", event: event %>
  <% end %>
</div>

<h2 class="text-center rounded-full m-auto size-fit p-3 text-3xl font-bold">Vos magasins favoris</h2>
<br>
<hr>

<div class="grid grid-cols-5 gap-8 m-10 p-9">
  <% Store.last(10).each do |store| %>
    <%= render "shared/store_card", store: store %>
  <% end %>
</div>
<div class="flex justify-center">
  <div class="rounded xl" style="width: 80%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
