<% content_for :title, "Bienvenue sur Local Heroes ! | Local Heroes" %>

<div
  class="hero m-auto h-[600px] bg-cover bg-center mb-10 shadow-lg"
  style="background-image: url(<%= asset_path 'banniere_local_hero.jpg' %>);">
  <div class=""></div>
  <div class="hero-content">
    <div class="">
      <%= render "shared/searchbar" %>
    </div>
  </div>
</div>

<div class="container mx-auto flex flex-col items-center">

    <h2 class="text-center m-auto size-fit p-3 text-3xl font-bold tracking-wide text-shadow-md">EVENEMENTS EN COURS</h2>
    <br>
    <br>

    <div class="grid grid-cols-3 gap-10 justify-center">
      <% Event.last(6).each do |event| %>
        <%= render "shared/event_card", event: event %>
      <% end %>
    </div>

  <br>
  <br>
  <h2 class="text-center rounded-full m-auto size-fit p-3 text-3xl font-bold tracking-wide text-shadow-md">MAGASINS FAVORIS</h2>
  <br>
  <br>

<div data-controller="dropdown-map">
  <div class="container mx-auto mb-10">
  <div style="text-align: center; margin-bottom: 1rem;">
    <button
      data-action="click->dropdown-map#toggle"
      class="map-button">
      Voir la carte
    </button>
  </div>

  <div data-dropdown-map-target="content" class="transition-all duration-500 overflow-hidden max-h-0 opacity-0">
    <div class="w-full">
      <div class="rounded-xl mx-auto"
           style="height: 900px; border: 1px solid #ccc; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-4 gap-10 justify-center transition-all duration-500 overflow-hidden max-h-[2000px] opacity-100" data-dropdown-map-target="grid">
    <% Store.last(8).each do |store| %>
      <%= render "shared/store_card", store: store %>
    <% end %>
  </div>
</div>

<style>
 .map-dropdown {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.map-dropdown.show {
  max-height: 1000px; /* Same or larger than map height */
  opacity: 1;
  transform: translateY(0);
}

.map-button {
  background-color: #2563eb;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}

.map-button:hover {
  background-color: #1d4ed8;
}

</style>
