
<div class="container  ">
  <h1 class="bg-orange-200 rounded-[20px] p-[15px] m-[40px] font-bold text-center w-full"><%= "Add/Edit Product" %></h1>

    <%= simple_form_for([@store, @product], html: { class: " card  space-y-8 ml-10 p-6 w-full rounded-xl shadow-md bg-orange-100 " }) do |f| %>


      <div class="flex justify-between ">
          <div>
            <%= f.input :name, input_html: { class: "w-full bg-orange-200 rounded-md shadow-sm" }, label_html: { class: "font-bold text-orange-700" } %>

            <%= f.input :price, input_html: { class: "w-full bg-orange-200 rounded-md shadow-sm" }, label_html: { class: "font-bold text-orange-700" } %>

            <%= f.input :category, input_html: { class: "w-full bg-orange-200 rounded-md shadow-sm" }, label_html: { class: "font-bold text-orange-700" }  %>
          </div>

          <div>
            <%= f.input :stock, input_html: { class: "w-full bg-orange-200 rounded-md shadow-sm" }, label_html: { class: "font-bold text-orange-700" } %>

            <%= f.input :discount, input_html: { class: "w-full bg-orange-200 rounded-md shadow-sm" }, label_html: { class: "font-bold text-orange-700" } %>

          </div>

          <div>
          <%= f.input :photos, as: :file, input_html: { class: "w-full bg-orange-200 rounded-md shadow-sm"}, label_html: { class: "font-bold text-orange-700"}, multiple: true %>
          </div>

      </div>

        <div>
          <%= f.input :description, as: :text,
              input_html: { class: "w-full bg-orange-200 rounded-md shadow-sm h-20 resize-none maxwidth: 100" },
              label_html: { class: "font-bold text-orange-700" } %>
        </div>


        <div class="text-right">
          <%= f.button :submit, "Add/Edit", class: "bg-orange-300 hover:bg-orange-500 text-white font-semibold py-2 px-4 rounded-lg" %>
        </div>


      <% end %>
  </div>
